<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660166537720-i7uiova3fp47moe206j225a15cb79gv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660166537720-i7uiova3fp47moe206j225a15cb79gv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDWGB1pFWvusH1FS8mQzclaonsVBNvzzrg</string>
	<key>GCM_SENDER_ID</key>
	<string>660166537720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikla.mag.iklaMobile</string>
	<key>PROJECT_ID</key>
	<string>ikla-40af1</string>
	<key>STORAGE_BUCKET</key>
	<string>ikla-40af1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660166537720:ios:0df73684b60b5cd2e4a60d</string>
</dict>
</plist>